* {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

// <!-- Page-Header Section Start--------------------------------------- -->
.page-header {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(5, 5, 5, 0.4)), url(../img/background-image/perry-grone-lbLgFFlADrY-unsplash.jpg);
    height: 24rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 4rem;
    width: 100%;

    h5 {
        display: flex;
        justify-content: center;
        padding-top: 12rem;
        font-size: 2rem;
        color: #FFFFFF;
        font-family: 'Roboto', sans-serif;
    }
}

// <!-- Vision Section Start--------------------------------------- -->
.vision {
    margin-bottom: 8rem;

    .mid {
        width: 85%;
        margin: auto;

        .row {
            align-items: center;

            div:first-child {
                img {
                    margin-left: 6rem;
                }
            }

            div:nth-child(4) {
                img {
                    margin-left: 10rem;
                }
            }
        }
    }
}

// <!-- Info for We Section Start--------------------------------------- -->
.infoWe {
    .mid {
        margin-left: 5rem;

        .row {
            div {
                margin-bottom: 3rem;

                .icon-svg {
                    margin-bottom: 0.6rem;

                    svg {
                        height: 50px;
                    }
                }

                h6 {
                    margin-bottom: 1rem;
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #303030;
                }

                p {
                    font-size: 1rem;
                    color: #ACABAB;

                }
            }
        }
    }
}

// <!-- Video Section Start--------------------------------------- -->
.video {
    margin: 3rem 0rem;

    .embed-responsive {
        width: 50%;
        height: 23rem;
        margin: auto;
    }
}

// <!-- Our Sponsored Section Start--------------------------------------- -->
.ourSponsors {
    background-color: #ACABAB;
    padding: 5rem 0;

    .row {
        div {
            svg {
                width: 100%;
            }
        }
    }

}

// <!-- Our team Section Start--------------------------------------- -->
.our-team {
    background-image: url("../img/background-image/Subtraction\ 20.png");
    background-repeat: no-repeat;
    margin-top: 5rem;
    background-position: bottom;
    background-size: contain;

    h1 {
        text-align: center;
        font-size: 2rem;
        color: #303030;
        margin-bottom: 2rem;
    }

    .row {
        div {

            img {
                width: 90%;
            }

            h5 {
                color: #FFFFFF;
                font-size: 1.3rem;
                margin-top: 1.3rem;
                margin-bottom: 0.5rem;
            }

            p {
                color: #ACABAB;
            }
        }
    }
}


@media only screen and (max-width: 550px) {
    .our-team {
        background-image: url("../img/background-image/Subtraction\ 35.png");
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .ourSponsors {
        padding: 3rem 0;

        .row {
            div {
                svg {
                    margin-top: 2rem;
                }
            }
        }

    }

    .video {
        .embed-responsive {
            width: 100% !important;
            height: 100%;
            margin: auto;
        }
    }

    .infoWe {
        .mid {
            margin-left: 0rem !important;

            .row {
                margin: auto
            }
        }
    }

    .vision {
        .mid {
            width: 100%;

            .row {
                div {
                    img {
                        width: 100%;
                    }
                }

                div:first-child {
                    img {
                        margin-left: 0rem;
                    }
                }

                div:nth-child(4) {
                    img {
                        margin-left: 0rem;
                    }
                }
            }
        }

    }
}



@media only screen and (max-width: 768px) {
    .video .embed-responsive {
        width: 70%;
        height: 100%;
    }

    .infoWe .mid {
        margin-left: 1rem;
    }

    .vision {
        .mid {
            width: 100%;

            .row {
                div:first-child {
                    img {
                        margin-left: 0 !important;
                    }
                }

                div:nth-child(4) {
                    img {
                        margin-left: 0rem !important;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .vision {
        .mid {
            .row {
                div:first-child {
                    img {
                        margin-left: 0rem !important;
                    }
                }

                div:nth-child(4) {
                    img {
                        margin-left: 0rem;
                    }
                }

            }
        }
    }
}